{% extends "base.html" %} 
{% load static %}

{% block content %}


<header><h1 class="herotitle">Ndiri Pano</h1></header>
<center><header><h3>Amanda Badze</h3></header></center>
<center><link><h4><a href="{% url 'africanart:picture_gallery' %}">Visit the new exhibition: By The Ghettoside</a></h4></link></center>

<br />
<div class="container">
        <center>
            <video width="530" height="440" controls autoplay src="{% static 'media/Ndiri_Pano_Exhibition_Invitation.mp4' %}">
            </video>
        </center>
</div>
<br />
<br />
<center><p>I AM not the same as those who are</p></center>
<center><p>Going to see if they are fearless or </p></center>
<center><p>not.</p></center><br />
<center><p>Somewhere I am alive now, and the </p></center>
<center><p>darkness I am is dead.</p></center><br />
<center><p>Here, is the resurrection ability, -A</p></center>
<center><p>present, past future, occupied by</p></center>
<center><p>not.</p></center><br />
<center><p>To the house of service, I weep at, </p></center>
<center><p>knowledge of life.</p></center><br />
<center><p>After I have never completed to</p></center>
<center><p>weep, I will never begin to sing.</p></center>


{% endblock %}
