{% extends "base.html" %} 
{% load static %}

{% block content %}


<header><h1 class="herotitle">My Beautiful Curse</h1></header>
<center><header><h4>by Nonsikelelo Tshabangu</h4></header></center>

<center><img src="{% static 'images/medusa.jpg' %}" class="w3-round" alt="Beautiful Medusa Curse" height="25%" width="25%"></center>

<center><p><br />

    From the first stare I knew you were trouble,<br />
    But that made me want you more darling.<br />
    You look like danger and excitement,<br />
    Like fire and Ice,a walking contradiction.<br />
    You had my heart beating fast and shaky<br />
    Your viperous tongue and your wicked voice,<br />
    Oh! My beautiful curse.<br />
<br />
    The danger and adrenaline that came with your aura<br />
    I knew I was a time-ticking bomb around your posture<br />
    How can a man be so perfect and beautiful to behold,<br />
    And still look venomous and dark like you?<br />
    An angel and demon bodied in one.<br />
    When I finally gave in,I felt unsafe yet sure.<br />
    You took me to esctasy and beyond.<br />
    I knew I took a fatal risk with you.<br />
    As expected,I crushed and burned.<br />
    Your treacherous passion and lethal ire<br />
    Had me on my knees in pain still craving for more.<br />
    I have no regrets, whatsoever,<br />
    My beautiful curse!
</p></center>




{% endblock %}
