{% load static %}

<!doctype html>
<html lang="de-ch">
<head>
    <meta charset="UTF-8">
    <title>Neue 20er - Investieren in die Neuen 20er</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS neuester Scheiß ;-) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Bootstrap CSS aus Django-Central-Tutorial; evtl. auskommentieren -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--hier Verlinkung zu w3schools css-Templates einfügen-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!--hier Verlinkung zu Google Fonts einfügen-->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway:100,200,600,700" rel="stylesheet">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Optima' type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>


<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Neue 20er</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'polls:index' %}">Polls</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dataproject:index' %}">Data-Project</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'africanart:africanart' %}">African Art</a>
      </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'post_new' %}">New Post</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'post_drafts' %}">Edit Drafts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Hello {{ user.username }} | Log out</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact:index' %}">Kontakt</a>
            <!--a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Kontakt</a-->
        </li>
    </ul>
  </div>
</nav>


{% block content %}
<!-- Content Goes here -->
{% endblock content %}


<!-- Footer -->
<footer class="navbar sticky-bottom navbar-light bg-light">
    <center>
        <p class="m-0 text-dark text-center " style="font-size: 12px;">Copyright &copy; Marco Seidel</p>
        <a href="https://developer.mozilla.org/de/docs/Web/HTML/Element" target="_blank">HTML-Reference</a>
        <a href="//wiki.selfhtml.org" target="_blank">selfhtml</a>
        <a href="https://docs.python.org/" target="_blank">Read the Docs! :-)</a>
    </center>
</footer>

</body>
</html>