{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
<div class="w3-col m4 l5"><br />
     <div class="w3-container w3-margin-right w3-white"> <!--12 columns on mobile, 3 bei 800x600, and 2 on a large screen.   -->

    {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">{{ post.title }}</h3>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <p class="card-text text-muted h6">{{ post.comments.count }} comments</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}

    </div>
 </div>
</div>
</div>
{% endblock %}