body, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.navigation {
  background-color: white;
  text-align: center;
  letter-spacing: 3px;
  padding: 30px;
  font-weight: 200;
}

.herotitle {
  background-color: white;
  font-family: "Raleway", "Times", Sans-Serif; /*Fallback-Font Times oder jede verfügbare sans serif*/
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  letter-spacing: 1px;
}

.w3-button {
    /*letter-spacing: 3px;*/
    margin: 0;
    padding: 0;
}

p {
  font-family: 'Raleway', sans-serif; /*Fallback-Font jede verfügbare sans serif*/
  text-align: inherit;
  font-size: 18px;
}

mark {
    background-color: LightSeaGreen;
}

h2 {
    text-transform: uppercase;
}

.contenttable {
    font-size: 12px;
}

ol {
    list-style: circle outside none;
    /* list-style-type: square;
     list-style-position: outside;
     list-style-image: none; same same but  longhand*/
}

.card {
  padding: 10px;
  margin: 20px;
}

/*controls im Carousel färben (bei Fotos mit weißem Hintergrund)*/
  .carousel-control-prev,
    .carousel-control-next{
        height: 50px;
        width: 50px;
        outline: $color-white;
        background-size: 100%, 100%;
        border-radius: 50%;
        border: 1px solid $color-white;
        background-color: $color-white;
    }

    .carousel-control-prev-icon {
        background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        width: 30px;
        height: 48px;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        width: 30px;
        height: 48px;
    }